<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>checkDeletePassword</title>
</head>
<body>
<h1>댓글삭제</h1>
<p>비밀번호를 입력해주세요.</p>
<form th:action="@{/article/{articleId}/comment/{deleteId}/delete(articleId=${comment.id}, deleteId=${delete.id})}" method="post">
    비밀번호:<input type="password" name="password" placeholder="비밀번호를 입력하세요.">
    <input type="submit" value="확인">
</form>
<p><a href="/boards">Home</a></p>
<p><a th:href="@{/article/{id}/article(id=${comment.id})}">Back</a></p>
</body>
</html>